@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #ffefff; /* светло-розовый фон */
    color: #333;
}

header {
    background: #f9d1e0; /* светло-розовый */
    color: #3c1e1e; /* темно-вишневый цвет текста */
    padding: 20px 0;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

header a {
    color: #3c1e1e;
    text-decoration: none;
    font-size: 2em;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

footer {
    background: #3c1e1e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe {
    background: #fffef0; /* светло-желтый фон */
    margin: 10px;
    border: 1px solid #f9d1e0; /* граница светло-розового цвета */
    box-shadow: 0 0 15px rgba(252, 143, 173, 0.4); /* розоватый оттенок тени */
    border-radius: 15px; /* скругление углов */
    padding: 20px;
    width: calc(50% - 20px);
    transition: transform 0.3s ease;
}

.recipe h3 {
    margin-top: 0;
    font-family: 'Dancing Script', cursive;
    color: #3c1e1e;
}

.recipe:hover {
    transform: scale(1.03); /* небольшое увеличение при наведении */
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

form label, form input, form textarea, form button {
    margin-bottom: 10px;
}

form input[type="text"], 
form input[type="email"], 
form input[type="password"], 
form textarea {
    padding: 10px;
    border: 1px solid #f9d1e0;
    border-radius: 5px;
    background: #ffefff;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #ffcae0; /* светло-розовый */
    color: #3c1e1e;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

form button:hover {
    background: #f76a8c; /* более яркий розовый */
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; /* скругление углов у изображений */
    margin-top: 20px;
}